body {
    margin: 0;
    padding: 0;
    font-size: x-large;
}

.nav-links {
    margin-top: 200px;
    text-align: center;
}

.nav-links a {
    color: peru;
    padding: 14px 20px;
    margin-right: 20px;
    text-decoration: none;
}

.join-section {
    text-align: center;
    margin-top: 200px;
}

.join-section h1 {
    font-size: xx-large;
}

.join-section .registration-link {
    background-color: peru;
    color: white;
    padding: 14px 20px;
    border-radius: 30px;
    cursor: pointer;
}
